body {
    background-color: rgb(0, 51, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: goldenrod;
    text-align: center;
}

h2 {
    color: goldenrod;
}

p {
    color: goldenrod;
    text-align: center;
}

address {
    color: goldenrod;
}

h3 {
    color: goldenrod;
}

table {
    background-color:bisque;
    border-collapse: collapse;
    width: 300px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;

}

form {
    width: 1000px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);


}

textarea {
    max-width: 1000px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: goldenrod;
}

.centered-image {
    display: block;
    margin: auto;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: aqua;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 18px;
    color: goldenrod;
    font-weight: 500;
    text-decoration: none;
}

nav ul {
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    text-align: center;
}

nav ul li a {
    color: goldenrod;
    font-size: 17px;
    text-transform: uppercase;
    
}

nav ul li a:hover {
    color: blue;
}

#home h2 {
    font-size: 50px;
    text-align: center;
}

#home img {
    border-radius: 50px;
    
}

#products img {
    border-radius: 50px;
}
