body {
    background-color: rgb(0, 51, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: goldenrod;
}

h2 {
    color: goldenrod;
}

p {
    color: goldenrod;
}

address {
    color: goldenrod;
}

h3 {
    color: goldenrod;
}

table {
    background-color:bisque;
    border-collapse: collapse;
    width: 300px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;

}

form {
    width: 1000px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);


}

textarea {
    max-width: 1000px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: goldenrod;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: aqua;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}